{% extends "base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<h1>Bonjour</h1>
		<p>
			<em>Toute demande doit être traitée par une personne de votre service autorisée à valider celle-ci. La DSI se chargera par la suite de vous octroyer les droits demandés.</em>
		</p>
	</nav>
{% endblock %}

{% block body %}
	<a href="{{ path('user.demandes') }}" class="btn bouton-crous">Faire une demande</a>
{% endblock %}

