{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1 style="margin-top: 30px;">Créer une nouvelle application</h1>
	
	{% include "admin/application/_form.html.twig" %}

	<div class="previous-link">
   		<a href="{{ path('admin.applications') }}">Page précédente</a>
	</div>
{% endblock %}
