{% extends "base.html.twig" %}

{% block body %}
	<div class="text-center" style="margin-top: 30px;">
		<h1>Home</h1>
	</div>
	<p><em>Votre demande doit être validée par une personne de votre service autorisée à valider une telle demande puis la DSI se chargera de vous octroyer les droits demandés.</em></p>

	<hr>

	<a href="{{ path('demandes') }}" class="btn bouton-crous">Faire votre demande</a>
{% endblock %}

