{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1 class="text-center">Validation</h1>
		<div style="margin-top: 30px;">
		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-8">{{ form_row(form.email, {'label': 'Adresse mail', 'attr': {'placeholder': 'prenom.nom@crous-clermont.fr'}}) }}</div>
			</div>
			
			<hr>
			
			<p style="font-size: 1.2em;"><strong>Sélectionner tous les rôles dont cet agent fait parti(e) :</strong></p>
			{{ form_rest(form) }}

			<div style="text-align: center;">
				<button type="submit" class="btn bouton-perso">Valider</button>
			</div>
			
		{{ form_end(form) }}
		</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script>
	$('select').select2();
</script>
{% endblock %}