{% extends 'bases/crous-base.html.twig' %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<h1>Bonjour</h1>
		<p>
			<em>Vous êtes connectés en tant qu'administrateur.</em>
		</p>
	</nav>
{% endblock %}

{% block body %}
<div class="info-box">
	<div class="card">
		<a href="{{ path('admin.gestion-dsis') }}">
			<img class="card-vignette" src="/ressource/vignettes/gestion-dsis.jpg" alt="Card image cap">
			<div class="text-center card-crous-body">
				Gestion des fonctions DSI
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('admin.gestion-applications.home') }}">
			<img class="card-vignette" src="/ressource/vignettes/gestion-applications.jpg" alt="Card image cap">
			<div class="text-center card-crous-body">
				Gestion des applications
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('admin.gestion-services.home') }}">
			<img class="card-vignette" src="/ressource/vignettes/gestion-services.jpg" alt="Card image cap">
			<div class="text-center card-crous-body">
				Gestion des services
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('valideur.gestion-valideurs.home') }}">
			<img class="card-vignette" src="/ressource/vignettes/connaitre-valideurs.jpg" alt="image pour connaitre les valideurs des services">
			<div class="text-center card-crous-body">
				Gestion des valideurs
			</div>
		</a>
	</div>
</div>
{% endblock %}
