{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Bonjour</h1>
	<p>
		<em>Vous êtes connectés en tant qu'administrateur. Si il y a de nouvelles demandes de validation de comptes ou de demandes, vous en êtes informés ci-dessous</em>
	</p>
</div>
<div class="info-box">
	{% if nbNewAccount == 0 %}
		<em>Aucun nouveau compte à valider ou demandes à traiter.</em>
	{% else %}
		<ul>
			<li>
				Vous avez {{ nbNewAccount }} compte{% if nbNewAccount > 1 %}s{% endif %} à valider. <br>
				Cliquez <a href="{{ path('admin.utilisateurs.validation') }}">ici</a> pour le{% if nbNewAccount > 1 %}s{% endif %} traiter.
			</li>
		</ul>	
	{% endif %}
</div>

{% endblock %}
