/* Import(s) nécessaire(s) */
/* TWITTER BOOTSTRAP */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
/* SELECT2 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css");

/*VARIABLES*/
:root {
	--navbar-height: 50px;
	--subnavbar-min-height: 70px;
}

/* Classes très génériques */
.crous-color {
	color: rgb(227, 6, 19);
}

.no-border {
	border: none;
}

.center {
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

.flex-center, .flex-start, .flex-space-around, .flex-space-between {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-space-around {
	justify-content: space-around;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-start {
	justify-content: start;
}

.pseudo-elt::before {
	margin: 5px;
	content:'';
	background-size: 100% 100%;
    width: 25px;
    height: 25px;
	display: inline-block;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* MESSAGE ALERTE / FLASH */
.flash-crous {
	position: relative;
	text-align: center;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
	border: 1px solid transparent;
	margin: 10px 0;
	font-weight: 600;
}

.flash-success {
	color: rgb(0, 161, 38);
    background-color: rgba(176, 235, 190, 0.7);
    border-color: rgb(0, 161, 38);
}

.flash-warning {
	color: rgb(161, 0, 0);
    background-color: rgba(255, 180, 180, 0.7);
    border-color: rgb(161, 0, 0);
}

/* PAGE HOME */
.info-box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin: 30px 0;
}

.info-box > div {
	margin: 0 auto;
	width: 230px;
	padding: 3px;
	border: 1px solid lightgrey;
	transition: 0.2s;
	align-items: center;
}

.info-box > div:hover {
	opacity: 0.8;
	border: 3px solid black;
}

.info-box a, .info-box a:hover {
	color: black;
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: none;
}

/* card dans la homepage */
.card {
	background-color: rgba(241, 241, 241, 0.7);
}
.card-vignette {
	height: 220px;
	width: 220px;
}

.card-crous-body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.notification-badge {
	position: absolute;
    top: -10px;
	right: -10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: rgb(227, 6, 19);
	color: white;
}

.notification-badge > span {
	position: absolute;
	margin: 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* NAV-BAR */
.navbar-crous {
	position: sticky;
	top: 0;
	width: auto;
	height: var(--navbar-height);
	z-index: 3;
	background-color: rgb(192, 192, 192);
}

.navbar-crous-brand {
	position: absolute;
	left: 5px;
	top: 5px;
}

.navbar-crous-items {
	height: var(--navbar-height);
	position: absolute;
	left: 120px;
	width: calc(100% - 120px);
}

.navbar-crous-items > div > div {
	padding: 0 15px;
	margin: 0;
}

.navbar-crous-roles {
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	height: var(--navbar-height);
	font-weight: 600;
}

.navbar-crous-roles > a {
	text-decoration: none;
	color: black;
	border: 2px solid lightgrey;
	background-color: rgb(155, 155, 155);
	margin: 0;
	padding: 5px 15px;
	transition: 0.2s;
}

.navbar-crous-roles > a:hover, .active {
	text-decoration: none;
	border: 2px solid white;
	color: white;
	background: rgb(227, 6, 19);
}

.navbar-crous-link {
	color: black;
	font-weight: 600;
	transition: 0.3s;
}

.navbar-crous-link:hover {
	color: rgb(227, 6, 19);
	text-decoration: none;
}

.subnavbar-crous {
	position: sticky;
	top: var(--navbar-height);
	width: auto;
	min-height: var(--subnavbar-min-height);
	padding: 5px;
	z-index: 2;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: rgb(238, 238, 238);
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.subnavbar-title {
	width: 62%;
	margin: 0 auto;
}

/* Icone pour "se connecter", "se déconnecter" */
.who-connected {
	color: rgb(227, 6, 19);
}

.logout-div, .login-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-div {
	justify-content: flex-end;
}

.login-div::before {
	background-image: url('/ressource/login.png');
}

.logout-div::after {
	background-image: url('/ressource/logout.png');
}

.login-div::before, .logout-div::after {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 36px;
    height: 35px;
	display: inline-block;
}

.status-connected {
	float: right;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status-disconnected {
	float: right;
}

/*FOOTER PRINCIPAL dans base.html.twig*/
.base-footer {
	position: fixed;
	z-index: 2;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	padding: 0 10%;
	background-color: rgb(0, 0, 0);
	text-align: center;
}

.base-footer > div {
	float: right;
	color: rgba(240, 255, 255, 0.596);
}

/* Pour gestion des détails lorsque l'on clique sur une ligne d'un tableau (gestion) */
.panel {
	display: none;
}

.btn-success {
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 0;
	border: 1px solid black;
}

/* Style de bouton principal */
.bouton-crous {
	background: rgb(227, 6, 19);
	color: white;
	font-weight: 700;
	padding: 5px 10px;
	border: 1px solid rgb(121, 0, 0);
	border-radius: 0;
}

.bouton-crous:disabled {
	border: 1.5px solid rgb(133, 133, 133);
	color: rgb(66, 66, 66);
	background: rgb(201, 201, 255);
}

/* Mettre le contenu des td du table au centre (verticalement) */
.table {
	border: 2px solid grey;
	margin: 15px auto;
}

.thead-crous {
	font-size: 1.4em;
	color: black;
	background-color: rgb(227, 6, 19);
	align-items: center;
}

.table .vert-middle {
	vertical-align: middle;
}

.vert-middle td {
	vertical-align: middle;
}

/* Visuel lorsque l'on sélectionne une ligne d'un tableau */
.selected-row {
	background-color: lightgrey;
}

tr:hover {
	background-color: rgba(153, 153, 153, 0.15);
}

tr{
	transition: .1s;
}

/* Boîte de formulaire pour détail d'une ligne du tableau (gestion) */
.detail-box {
	border: 0.1px dashed grey;
	min-height: 200px; 
	margin: 0 0 30px 0;
	background: rgba(207, 207, 207, 0.247);
	padding: 10px;
}

.detail-box-banner {
	min-height: 45px;
}

.detail-phrase {
	float: left;
	margin: 0;
	width: 80%;
}

/* Paragraphe indiquant que la demande a éjà été traitée par un valideur, ajout du panneau warning */
.already-validate::before {
	margin: 5px 5px 0 5px;
	content:'';
	background-size: 100% 100%;
    width: 20px;
    height: 20px;
	display: inline-block;
	background-image: url('/ressource/warning.png');
}

.already-validate {
	font-size: 0.8em;
}

/* Aligner chaque ligne du formulaire (gestion) au milieu de la page (horizontalement) */
.form-row-center {
	width: 90%;
	margin: 5px auto;
}

.row-flex-start {
	margin-bottom: 8px;
	justify-content: flex-start;
}

.label-flex {
	justify-content: start;
}

.wide-select span, .wide-select input {
	min-width: 100%;
}

.wide-select ul > li > span {
	display: inline !important;
}

/* GESTION DES PSEUDO ELEMENTS (Tableaux de gestion) */
.pencil:hover, .trash:hover, .waiting:hover {
	opacity: 0.6;
	cursor: pointer;
}
.pencil::before {
	background-image: url('/ressource/pencil.png');
}

.waiting::before {
	background-image: url('/ressource/clock.png');
}

.waiting {
	color: rgb(224, 228, 2);
}

.waiting:hover {
	color: rgb(165, 168, 0);	
}

.trash::before {
    background-image: url('/ressource/trash.png');
}

.pencil, .waiting, .trash {
	display: flex;
	align-items: center;
}

/* GESTION DES PSEUDO ELEMENTS pour les pages de gestion avec Formulaires Imbriqués */
.add-div {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

.add-button-div {
	float: right;
}

.add-button {
    display: flex;
    justify-content: center;
	align-items: center;
	border-radius: 0;
	color: white;
	border: 2px solid rgb(0, 63, 24);
	background: rgb(1, 165, 1);
	font-weight: 700;
	font-size: 1.1em;
	transition: 0.3s;
}

.remove-button {
	border-radius: 0;
	color: rgb(255, 0, 0);
	font-weight: 700;
	transition: 0.3s;
}


.add-button:hover, .remove-button:hover {
	cursor: pointer;
}

.add-button:hover {
	background-color: green;
}

.remove-button:hover {
	opacity: 0.5;
}

.remove-button {
	border: none;
	background-color: inherit;
}

.remove-button::before {
	background-image: url('/ressource/remove.png');
}

.add-button::before {
	background-image: url('/ressource/+.png');
}

/* .add-button::before {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 25px;
    height: 25px;
	display: inline-block;
} */

.remove-button::before {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 15px;
    height: 15px;
	display: inline-block;
}

/* pour Bouton "Enregistrer" */
.save-button {
	background: rgb(227, 6, 19);
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	padding: 5px 15px;
	border: 1.5px solid rgb(121, 0, 0);
	border-radius: 0;
	transition: 0.3s;
}

.save-button:hover {
	background: rgba(255, 0, 0, 0.6);
	color: brown;
}

.save-div {
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	width: 70%;
	margin: 0 auto;
}

/* Style sur le nouveau formulaire pour ajouter une période dans Gestion des DSI */
.add-new-form {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: lightgrey;
	border: 1px solid rgb(133, 133, 133);
	width: 90%;
	margin: 0 auto;
}

.add-new-form > div:first-child {
	flex: none;
	width: 100%;
}

/* Visuel de la notification OUI ou NON dsi dans le tableau Gestion des DSI */
.yes {
	color: green;
}

.no {
	color: rgb(227, 6, 19);
}

.yes::before {
	background-image: url('/ressource/check.png');
}

.no::before {
	background-image: url('/ressource/ban.png');
}

/* GESTION DES SERVICES */
/* Icônes */
.table-services {
	width: 50%;
}

.actions {
	width: 20%;
}

.show-link::before {
	background-image: url('/ressource/show.png');
}

.edit-link::before {
	background-image: url('/ressource/pencil.png');
}

.delete-link::before {
	background-image: url('/ressource/trash.png');
}

.previous-link::before {
	background-image: url('/ressource/backward.png');
}

.delete-link {
	border: none;
	text-decoration: none;
	background: none;
}

.show-link, .edit-link, .delete-link {
	transition: 0.3s;
}

.show-link:hover, .edit-link:hover, .delete-link:hover {
	opacity: 0.6;
}

.edit-link {
	float: right;
}

.previous-link {
	position: absolute;
	left: 120px;
	top: 20px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	width: 170px;
}

.previous-link > a {
	color: rgb(227, 6, 19);
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s;
}

.previous-link > a:hover {
	color: brown;
	text-decoration: underline;
}

/*Bouton ajout d'un service*/
.add-item-div {
	position: fixed;
	top: 220px;
	right: 10%;
	border: 2px solid rgb(0, 63, 24);
	border-radius: 0;
	background: rgb(1, 165, 1);
	font-weight: 700;
	font-size: 1.1em;
	color: white;
	padding: 5px;
	transition: 0.3s;
}

.add-item-div::before {
	background-image: url('/ressource/+.png');
	width: 40px;
	height: 40px;
}

.add-item-div:hover {
	cursor: pointer;
	background-color: green;
}

/* GESTION DES APPLICATIONS */
.table-applications {
	width: 60%;
}

/* DEMANDE POUR UN USER */
.user-demand-box {
	margin-top: 30px;
	padding: 10px;
	border: 1px dotted black;
	background-color: rgba(226, 224, 224, 0.452);
	min-height: 200px;
}

.user-demand-box .user-demand {
	margin-bottom: 30px;
}

.user-demand-box .user-demand:last-child {
	margin-bottom: 0;
}

.user-demand > p:first-child {
	margin: 2em 0 1em 0;
	text-transform: uppercase;
	color: rgb(227, 6, 19);
	font-weight: 500;
	font-size: 1.1em;
}

.applications-div {
	grid-gap: 0 10px;
	padding: 0 25px;
}

.user-demand label {
	margin-top: 15px;
}

.user-demand input[type="text"] {
	width: 100%;
}

sup {
	font-size: 0.9em; 
	color: rgb(227, 6, 19);
}

.crous-label {
	margin: 0;
}

.info-term {
	font-size: 0.8em;
	margin: 0 auto;
	width: 80%;
}

/* SELECTION DU SERVICE POUR UN USER POUR FAIRE SA DEMANDE (/agent/gestion/demandes) */
.cards-crous {
	grid-gap: 40px 0;
	justify-items: center;
	margin-top: 20px;
}

.card-title {
	min-height: 50px;
}

.card-title > span {
	display: inline;
	margin: 0;
	font-weight: 700;
}

.cards-crous > * {
	width: 19rem;
	border-radius: 0;
	margin: 0;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgba(240, 240, 240, 0.45);
}

.card-body > p {
	min-height: 70px;
	font-style: italic ;
}

.status-btn {
	padding: 5px;
	border-radius: 0;
	font-size: 0.9em;
	color: black;
	border: 1.5px solid black;
	transition: 0.3s;
}

.modify {
	background-color: rgb(236, 240, 0);
}

.create {
	background-color: rgb(15, 185, 0);
}

.impossible {
	background-color: rgb(227, 6, 19);
}

.modify::before, .create::before, .impossible::before, .show::before {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 24px;
    height: 24px;
	display: inline-block;
}

.create::before {
	background-image: url('/ressource/form.png');
}

.modify::before {
	background-image: url('/ressource/pencil-black.png');
}

.impossible::before {
	background-image: url('/ressource/x-4x.png');
}

.modify:hover {
	cursor: pointer;
	background-color: rgb(219, 179, 0);
}

.create:hover {
	cursor: pointer;
	background-color: rgb(19, 233, 0);
}

/* Gestion des validateurs, card dans /valiideur/gestion/valideurs */
.card-current-validator {
	color: rgb(227, 6, 19);
	font-weight: 500;
}

.card-you {
	color: rgb(227, 6, 19);
	line-height: 0.9em;
	font-weight: 300;
}

.card-libelle-long {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-weight: 600;
	font-size: 0.8em;
}

.show {
	background-color: rgb(255, 180, 0);
}

.show::before {
	background-image: url('/ressource/question.png');
}

.show:hover {
	cursor: pointer;
	background-color: rgba(248, 192, 61, 0.8);
}

/* BOITE DE RECHERCHE */
.search-box {
	top: 200px;
	background-color: rgba(208, 199, 255, 0.637);
	padding: 15px;
	margin: 10px auto;
	min-width: 60%;
	width: fit-content;
}

.search-box > p {
	position: relative;
	top: 0;
	left: 0;
}

.search-box > form {
	display: grid;
	grid-template-columns: 50% auto auto;
	grid-gap: 20px;
}

.btn-primary {
	font-weight: 700;
	border: 1px solid rgb(0, 0, 138);
	border-radius: 0;
}

/* GESTION DES DEMANDES POUR UN ADMIN/DSI */
/* Card pour chaque demande */
.large-card-crous {
	width: 100%;
	min-height: 150px;
	margin: 20px 0;
	background-color: rgba(235, 235, 235, 0.767);
	border: 1px solid grey;
}

.large-card-crous > p, .large-card-crous > em {
	font-size: 1.1em;
}

.large-card-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.1em;
	line-height: 1.6em;
	padding: 0 10px;
	color: white;
	background-color: rgb(227, 6, 19);
}

.large-card-body {
	padding: 0 15px 15px 15px;
}

.large-card-grid {
	/*display: grid;
    grid-template-columns: repeat(3, 1fr);*/
	grid-gap: 5px;
	margin: 10px 0;
}

.large-card-new-demands {
	margin: 0 0 40px 0;
	padding: 0 15px;
}

.large-card-new-demands div span:first-child {
	float: left;
}

.large-card-new-demands div span:last-child {
	float: right;
}

.large-card-new-demands div {
	clear: both;
}

.large-card-grid > div {
	padding: 0 15px 10px 15px;
	border: 1px solid lightgrey;
}

.large-card-grid > div > p:first-child {
	text-align: center;
	justify-content: center;
	font-size: 1.1em;
	border-bottom: 1px solid rgba(211, 211, 211, 0.726);
}

/* .to-add, .to-delete, .to-remain {
	text-align: center;
	padding: 10px;
	font-weight: 600;
} */

/* .to-add > div {
	color: green;
} 

.to-delete > div {
	color: rgb(227, 6, 19);
}

.to-remain > div {
	color: grey;
} */
/*
.buttons-selection {
	display: flex;
	justify-content: space-around;
}*/

.ressources-supp {
	margin: 5px 0 30px 0;
	padding: 0 15px;
}

.crous-title {
	font-weight: 500;
	margin: 10px 0;
	font-size: 1.8em;
	text-transform: uppercase;
	text-decoration: underline;
}

/* CONSULATION DES DROITS EFFETIFS PAR L'ADMIN */
.user-access-box {
	border: 1px solid black;
	margin: 30px auto;
	width: 80%;
}

.user-access-box > div {
	padding: 15px;
}

/* information sur l'agent */
.user-info-box {
	position: relative;
	background-color: rgb(227, 6, 19);
	color: white;
}

/* Bouton "IMPRIMER */
.to-print::before {
	background-image: url('/ressource/print.png');
}

.to-print {
	background-color: lightgrey;
	font-size: 1.1em;
	color: black;
	text-decoration: none;
	transition: 0.3s
}

.to-print:hover {
	color: black;
	background-color: rgb(196, 196, 196);
	text-decoration: underline;
}

/* REVUE DES DROITS EN TANT QUE VALIDEUR */
.droit-effectif-row {
	margin: 12px;
	align-items: center;
}

.line * {
	text-decoration: line-through red;
}

.droit-effectif-row .get-delete {
	text-decoration: none;
	font-weight: 500;
	color: red;
}

.trash-check {
	visibility: hidden;
}

.trash-check::before {
	margin: 0;
	visibility: visible;
}

.red-link {
	color: rgb(227, 6, 19);
	text-decoration: none;
	transition: 0.3s;
}

.red-link:hover {
	text-decoration: underline;
	color: rgb(206, 0, 14);
}

/* Si une demande est déjà en cours, on place un recapitulatif au dessus des modifications */
.grey-overlay {
	position: absolute;
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	background-color: rgba(227, 6, 19, 0.3);
}

.resume-crous {
	padding: 15px;
	position: absolute;
	top: 50px;
	right: 50px;
	bottom: 25px;
	left: 50px;
	border: 4px solid rgb(136, 0, 9);
	background-color: #eee;
	box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .3);
}

/* Tableau qui résume tous les changements à apporter dans les droits effectifs d'un agent */
.table-resume {
	margin: 0 auto;
	width: 100%;
}

.table-resume, .table-resume th, .table-resume td {
	padding: 0 15px;
	border: 1px solid black;
}

.title-table, .subtitle-table {
	text-transform: uppercase;
	background-color: #c0c0c09f;
	color: rgb(227, 6, 19);
	font-size: 1.1em;
	text-align: center;
}

/* états des droits lors de modification */
/* .has-to-be-deleted::before, .has-to-be-postponed::before, .no-change::before, .yellow-warning::before {
	margin-right: 5px;
	content:'';
	background-size: 100% 100%;
	display: inline-block;
    width: 20px;
	height: 20px;
}

.has-to-be-deleted, .has-to-be-postponed, .no-change, .yellow-warning {
	display: flex;
	align-items: center;
	margin: 5px 0;
} */

.has-to-be-deleted {
	color: rgb(227, 6, 19);
}

.has-to-be-postponed, .yellow-warning {
	color: rgb(219, 179, 0);
}

.no-change {
	color: rgb(0, 121, 0);
}

.has-to-be-deleted::before {
	background-image: url('/ressource/remove.png');
}

.has-to-be-postponed::before {
	background-image: url('/ressource/clock.png');
}

.no-change::before {
	background-image: url('/ressource/check.png');
}

.yellow-warning::before {
	background-image: url('/ressource/yellow-warning.png');
}

.subtitle-table {
	background-color: #c0c0c044;
	font-weight: 400;
	text-align: start;
}

.warning-text {
	color: rgb(227, 6, 19);
	font-size: 0.9em;
	width: fit-content;
	margin-top: 7px;
	margin: 0 auto;
}