/* Import(s) nécessaire(s) */
/* TWITTER BOOTSTRAP */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
/* SELECT2 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css");


/* NAV-BAR */
.navbar-crous {
	background-color: lightgrey;
	position: sticky;
	top : 0;
	height: 80px;
	width: auto;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.navbar-crous-brand {
	position: absolute;
	left: 5px;
	top: 5px;
}

.navbar-crous-gestion {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navbar-crous-items {
	position: absolute;
	left: 120px;
	width: calc(100% - 120px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-crous-items > div > div {
	font-size: 1.1em;
	padding: 5px 15px;
	margin: 0;
}

.navbar-crous-link {
	color: black;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

.navbar-crous-link:hover {
	color: rgb(126, 0, 0);
	text-decoration: underline;
}

/* Icone pour "se connecter", "se déconnecter" */
.who-connected {
	color: red;
}

.logout-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-perso::before {
	background-image: url('/ressource/login.png');
}

.logout-div::after {
	background-image: url('/ressource/logout.png');
}

.login-perso::before, .logout-div::after {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 36px;
    height: 35px;
	display: inline-block;
}

.status-connected {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Pour gestion des détails lorsque l'on clique sur une ligne d'un tableau (gestion) */
.panel {
	display: none;
}

/* Style de bouton principal */
.bouton-crous {
	background: red;
	color: white;
	font-weight: 700;
	padding: 5px 10px;
	margin-top: 15px;
	border: 1.5px solid rgb(121, 0, 0);
	border-radius: 3px;
}

/* Mettre le contenu des td du table au centre (verticalement) */
.table {
	border: 2px solid grey;
}
.table .vert-middle {
	vertical-align: middle;
}

.vert-middle {
	vertical-align: middle;
}

/* Visuel lorsque l'on sélectionne une ligne d'un tableau */
.selected-row {
	background-color: lightgrey;
}

tr:hover {
	background-color: rgba(153, 153, 153, 0.15);
}
tr{
	transition: .1s;
}

/* Boîte de formulaire pour détail d'une ligne du tableau (gestion) */
.detail-box {
	border: 0.1px dashed grey;
	min-height: 300px; 
	margin: 30px 0;
	background: rgba(207, 207, 207, 0.247);
	padding: 10px;
}

/* Aligner chaque ligne du formulaire (gestion) au milieu de la page (horizontalement) */
.form-row-center {
	width: 70%;
	margin: 0 auto;
}

.row-flex {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* GESTION DES PSEUDO ELEMENTS pour Gestion des Utilisateurs */
.pencil:hover, .trash:hover {
	opacity: 0.6;
	cursor: pointer;
}
.pencil::before {
	background-image: url('/ressource/pencil.png');
}

.trash::before {
    background-image: url('/ressource/trash.png');
}

.pencil::before, .trash::before {
	margin: 5px 10px;
	content:'';
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
}

/* GESTION DES PSEUDO ELEMENTS pour Gestion des DSI */
.add-div {
	display: flex;
	justify-content: flex-end;
	width: 44%;
	margin: 10px auto 0 auto;
}

.add-button {
    display: flex;
    justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: white;
	border: 2px solid rgb(0, 63, 24);
	background: rgb(1, 165, 1);
	font-weight: 700;
	font-size: 1.1em;
	transition: 0.3s;
}

.remove-button {
    display: flex;
    justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: rgb(255, 0, 0);
	font-weight: 700;
	transition: 0.3s;
}

.add-button:hover, .remove-button:hover {
	cursor: pointer;
}

.add-button:hover {
	background-color: green;
}

.remove-button:hover {
	opacity: 0.5;
}

.remove-button {
	border: none;
	background-color: inherit;
}

.remove-button::before {
	background-image: url('/ressource/remove.png');
}

.add-button::before {
	background-image: url('/ressource/+.png');
}

.add-button::before {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 25px;
    height: 25px;
	display: inline-block;
}

.remove-button::before {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 15px;
    height: 15px;
	display: inline-block;
}

/* pour Bouton "Enregistrer" */
.save-button {
	background: red;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	padding: 5px 15px;
	border: 1.5px solid rgb(121, 0, 0);
	border-radius: 3px;
	transition: 0.3s;
}

.save-button:hover {
	background: rgba(255, 0, 0, 0.6);
	color: brown;
}

.save-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
}

/* Style sur le nouveau formulaire pour ajouter une période dans Gestion des DSI */
.add-new-form {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: lightgrey;
	width: 70%;
	margin: 0 auto;
}

.add-new-form>div:first-child {
	flex: none;
	width: 100%;
	justify-content: start;
	margin-bottom: 0;
	padding: 5px 0;
}

.add-new-form>div:last-child {
	position: relative;
	left: -33.333%;
}

/* Visuel de la notification OUI ou NON dsi dans le tableau Gestion des DSI */
.yes-dsi, .no-dsi {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 auto;
}
.yes-dsi {
	color: green;
}

.no-dsi {
	color: red;
}

.yes-dsi::before {
	background-image: url('/ressource/check.png');
}

.no-dsi::before {
	background-image: url('/ressource/ban.png');
}

.yes-dsi::before, .no-dsi::before {
	margin: 5px 10px 5px 5px;
	content:'';
	background-size: 100% 100%;
    width: 25px;
    height: 25px;
	display: inline-block;
}