<div class="search-box">
	<p><strong>Rechercher un service</strong></p>
	{{ form_start(form) }}
		{{ form_widget(form.q) }}
		<button type="submit" class="btn btn-primary w-100">Filtrer</button>
	{{ form_end(form) }}
</div>