{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="flex-center pseudo-elt previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Consultation des fonctions DSI</h1> 
			<p>
				<em>Veuillez voir avec administrateur si des droits concernant la fonction DSI doitvent être modifiés.</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}

<table id="table" class="table">
	<thead class="thead-crous">
		<th >Nom</th>
		<th >Prénom</th>
		<th>Email</th>
		<th style="text-align: center;">Actuellement DSI</th>
	</thead>
	<tbody>
		{% for user in users %}
		<tr class="vert-middle">
			<td><strong>{{ user.nom }}</strong></td>
			<td><strong>{{ user.prenom }}</strong></td>
			<td>{{ user.email }}</td>
			<td class="flex-center pseudo-elt {% if user.isDSI() %}yes"><em>oui</em>{% else %}no"><em>non</em>{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

