{% import _self as formMacros %}
{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="flex-center pseudo-elt previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Consultation des droits effectifs</h1> 
			<em>Consulter les droits en cours pour chaque agent du CROUS</em>
		</div>
		<a href="{{ path('toPDF-droits-effetifs') }}" target="_blank" class="flex-center pseudo-elt to-print mt-2">Imprimer</a>
	</nav>
{% endblock %}

{% block body %}

{% if users is empty %}
	<div>
		Il semble qu'il n'y ait aucun droit effectif....
	</div>
{% else %}
	{% for user in users %}
	<div class="user-access-box">
		{{ user.userInfo_html() | raw }}

		{{ user.droitsEffectifs_html() | raw }}
	</div>
	{% endfor %}
{% endif %}

{% endblock %}

