{% extends "base.html.twig" %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Faire une demande</h1>
	<p>
		<em>Veuillez choisir le service pour lequel pour souhaitez faire une demande</em>
	</p>
</div>
	
<div class="liste-crous">
	<ul>
		{% for service in services %}
		<li><a href="{{ path('user.demande.edit', {'id': service.id}) }}">{{ service.libelle_court }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}